# .env for general operation.

URDF_BASE_LINK=urdf_base
URDF_PATH=./urdf/robot.urdf

# .env for Onshape keys for `onshape-to-robot` package.

# Keys found at: https://dev-portal.onshape.com/keys
ONSHAPE_API=https://cad.onshape.com
ONSHAPE_ACCESS_KEY=abcDEF123
ONSHAPE_SECRET_KEY=abcDEF123
